**hw1_exercise1.py**

In [22]:
import sys
sys.path.append('/content')

import hw1_exercise1 as hw
hw.main()

How old are you? 18
How tall are you? 5.6 ft.
How much do you weigh? 150 lbl.
So, you're     18      old,  5.6 ft.    tall and  150 lbl.  heavy.

**hw1_exercise2.py**

In [19]:
import sys
sys.path.append('/content')

import hw1_exercise2 as hw
hw.main(sys.argv)
print()
hw.main(["hw1_exercise2.py", "Hello", "World", "!"])

The script is called: /usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py
Your first variable is: -f
Your second variable is: /root/.local/share/jupyter/runtime/kernel-bc1439a2-f679-45db-8d40-c66a57a96cf4.json
Your third variable is: Python For AI Basics -2022

The script is called: hw1_exercise2.py
Your first variable is: Hello
Your second variable is: World
Your third variable is: !

**hw1_exercise3.py**

In [16]:
import sys
sys.path.append('/content')

import hw1_exercise3 as hw
hw.main(sys.argv)
hw.main(["hw1_exercise3.py", 100])

50
1000

**hw1_exercise4.py**

In [23]:
import sys
sys.path.append('/content')

import hw1_exercise4 as hw
hw.main(sys.argv)
hw.main(["hw1_exercise4.py", 12])

Unexpected quantity: -f
Quantity accepted!

**hw1_exercise5.py**

In [24]:
import sys
sys.path.append('/content')

import hw1_exercise5 as hw
hw.main()

a=3, b=2, c=1

**hw1_exercise6.py**

In [26]:
import sys
sys.path.append('/content')

import hw1_exercise6 as hw
hw.main()

1 3.4
0 0
1 3.4

**hw1_exercise7.py**

In [27]:
import sys
sys.path.append('/content')

import hw1_exercise7 as hw
hw.main()

Enter loan payment: hello_world
  Error: could not convert string to float: 'hello_world'
Enter loan payment: 250.50
Enter car insurance: 65.30
Enter gas expenses: 80
Enter oil expenses: 20
Enter tire costs: 40
Enter maintenance costs: 55

Monthly car expenses: $510.80

Annual car expenses: $6129.60

**hw1_exercise8.py**

In [28]:
import sys
sys.path.append('/content')

import hw1_exercise8 as hw
hw.main()

How many seats sold for class A: hello_world
  Error: could not convert string to float: 'hello_world'
How many seats sold for class A: 5
How many seats sold for class B: 3
How many seats sold for class C: 7

Total sold tickets: 15

Your income: $215.00

**hw1_exercise9.py**

In [29]:
import sys
sys.path.append('/content')

import hw1_exercise9 as hw
hw.main()

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

**hw1_exercise10.py**

In [31]:
import sys
sys.path.append('/content')

import hw1_exercise10 as hw
hw.main()

Enter number between 1 to 100: hello_world
Enter number between 1 to 100: 50
Too low, try again.
Enter number between 1 to 100: 80
Too high, try again.
Enter number between 1 to 100: 60
Too high, try again.
Enter number between 1 to 100: 55
Too high, try again.
Enter number between 1 to 100: 53
Too high, try again.
Enter number between 1 to 100: 51
Congratulations you did it in  6  try
Do you want to continue (y/n): y
Enter number between 1 to 100: 50
Too high, try again.
Enter number between 1 to 100: 30
Too low, try again.
Enter number between 1 to 100: 40
Too high, try again.
Enter number between 1 to 100: 35
Congratulations you did it in  4  try
Do you want to continue (y/n): n

**hw1_exercise11.py**

In [32]:
import sys
sys.path.append('/content')

import hw1_exercise11 as hw
hw.main()

reassign, no content change on list= [0]
content changed [0, 1]
original value:  (1, 2, 3, 4), expected changes:  [1, 2, 3] , actual changes:  (1, 2, 3, 4)
original value:  ['hello_world'], expected changes:  [] , actual changes:  []
original value:  {'banna', 'orange', 'apple'}, expected changes:  {'orange', 'apple'} , actual changes:  {'orange', 'apple'}
original value:  {'john': 30, 'Doe': 40, 'Henry': 50}, expected changes:  {'Doe': 40, 'Henry': 50} , actual changes:  {'Doe': 40, 'Henry': 50}